.container {
    padding:20px;
    background-color: rgb(190, 168, 168);
    height: 100vh;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-columns: 100px 100px 100px 100px;
}