body{
    display: flex;
    margin:0;
    padding: 0;
    height:100vh;
    justify-content: center;
    align-items: center;
}

p::before{
    content: "Philip";
    color: blueviolet;
    background-color: black;
}

p::after{
    content: "Chima";
    color: rgb(101, 229, 114);
    background-color: black;
}